pass: ENC[REPLACE_WITH_YOUR_SOPS_SECRET]
mail-you-password: REPLACE_WITH_YOUR_HASH
sops:
    kms: []
    gcp_kms: []
    azure_kv: []
    hc_vault: []
    age: []
    lastmodified: "1970-01-01T00:00:00Z"
    mac: ENC[REPLACE_WITH_YOUR_SOPS_MAC]
    pgp: []
    unencrypted_suffix: _unencrypted
    version: 3.9.4
